{%- if product != blank -%}
  {%- assign current_variant = current_variant | default: product.selected_or_first_available_variant -%}
  {%- assign card_image = current_variant.featured_image | default: product.featured_media -%}

    <div class="card-product-carousel__media">
      {%- if card_image != blank -%}
        <img
          class="card-product-carousel__image"
          srcset="
            {%- if card_image.width >= 165 -%}{{ card_image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_image.width >= 360 -%}{{ card_image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_image.width >= 533 -%}{{ card_image | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_image.width >= 720 -%}{{ card_image | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_image.width >= 940 -%}{{ card_image | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_image.width >= 1066 -%}{{ card_image | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_image | image_url }} {{ card_image.width }}w
          "
          src="{{ card_image | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc(100vw - 30px)"
          alt="{{ card_image.alt | escape }}"
          width="{{ card_image.width }}"
          height="{{ card_image.height }}"
          loading="lazy"
        >
      {%- endif -%}
    </div>

    <div class="card-product-carousel__info">
      {%- if product.collections.size > 0 -%}
        <span class="card-product-carousel__collection">
          {{ product.collections.first.title }}
        </span>
      {%- endif -%}

      <p class="card-product-carousel__title">{{ product.title }}</p>

      {%- assign variant_description = current_variant.metafields.custom.variant_short_description -%}
      {%- if variant_description != blank -%}
        <p class="card-product-carousel__description">{{ variant_description }}</p>
      {%- elsif product.description != blank -%}
        <p class="card-product-carousel__description">{{ product.description | strip_html | truncate: 60 }}</p>
      {%- endif -%}

      <div class="card-product-carousel__price-row">
        <span class="card-product-carousel__price">{{ current_variant.price | money_without_trailing_zeros }}</span>
        <span class="card-product-carousel__rating">
          {% render 'icon-star' %}
          {%- if product.metafields.reviews.rating.value != blank -%}
            {{ product.metafields.reviews.rating.value.rating }}
          {%- else -%}
            4.5
          {%- endif -%}
        </span>
      </div>
      
      {%- if show_color_swatches -%}
        {%- assign color_option = nil -%}
        {%- for option in product.options_with_values -%}
          {%- assign option_name_lower = option.name | downcase -%}
          {%- if option_name_lower == 'color' or option_name_lower == 'colour' -%}
            {%- assign color_option = option -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        {%- if color_option -%}
          {%- assign max_swatches = 7 -%}
          {%- assign total_colors = color_option.values.size -%}
          <div class="card-product-carousel__swatches">
            {%- for value in color_option.values limit: max_swatches -%}
              {%- assign variant_for_value = nil -%}
              {%- for v in product.variants -%}
                {%- if v.options contains value -%}
                  {%- assign variant_for_value = v -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
              {%- capture swatch_id -%}carousel-{{ product.id }}-{{ color_option.position }}-{{ forloop.index0 }}{%- endcapture -%}
              {%- assign is_checked = false -%}
              {%- if variant_for_value.id == current_variant.id -%}
                {%- assign is_checked = true -%}
              {%- endif -%}
              {%- assign option_disabled = true -%}
              {%- if value.available -%}
                {%- assign option_disabled = false -%}
              {%- endif -%}
              <span class="card-product-carousel__swatch"
                data-variant-id="{{ variant_for_value.id }}"
              >
                {% render 'swatch-input',
                  id: swatch_id,
                  name: product.id,
                  value: value,
                  swatch: value.swatch,
                  checked: is_checked,
                  visually_disabled: option_disabled
                %}
              </span>
            {%- endfor -%}
            {%- if total_colors > max_swatches -%}
              <span class="card-product-carousel__swatches-more">+ {{ total_colors | minus: max_swatches }} more colours</span>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
{%- endif -%}
