{{ 'product-card-carousel.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-card-carousel.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="product-card-carousel__container section-{{ section.id }}-padding">
    {%- if section.settings.title != blank -%}
      <h2 class="product-card-carousel__heading" style="text-align: {{ section.settings.heading_alignment }};">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}

    {%- if section.settings.products.size > 0 -%}
      <product-carousel-swiper class="product-card-carousel__swiper" data-columns-desktop="{{ section.settings.columns_desktop }}" data-columns-mobile="{{ section.settings.columns_mobile }}">
        <div class="swiper">
          <div class="swiper-wrapper">
            {%- for product in section.settings.products -%}
              <div class="swiper-slide">
                <product-card-carousel class="card-product-carousel" data-product-id="{{ product.id }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}" data-product-url="{{ product.url }}"{% unless product.selected_or_first_available_variant.available %} data-unavailable="true"{% endunless %}>
                  {% render 'card-product-carousel',
                    product: product,
                    show_color_swatches: section.settings.show_color_swatches
                  %}
                </product-card-carousel>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </product-carousel-swiper>
    {%- endif -%}
  </div>
</div>


{% schema %}
{
  "name": "t:sections.product-card-carousel.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.product-card-carousel.settings.title.default",
      "label": "t:sections.product-card-carousel.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product-card-carousel.settings.heading_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.product-card-carousel.settings.heading_alignment.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.product-card-carousel.settings.heading_alignment.label"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "t:sections.product-card-carousel.settings.products.label",
      "limit": 20
    },
    {
      "type": "checkbox",
      "id": "show_color_swatches",
      "default": true,
      "label": "t:sections.product-card-carousel.settings.show_color_swatches.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-card-carousel.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "default": 1.5,
      "label": "t:sections.product-card-carousel.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 140
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.product-card-carousel.presets.name"
    }
  ]
}
{% endschema %}
